[Unit]
Description=An Answer to your Wayland Wallpaper Woes
Documentation=man:awww-daemon(1)
PartOf=niri.service
After=niri.service
Requisite=niri.service

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon
Restart=on-failure

[Install]
WantedBy=niri.service
