[Unit]
Description=Soteria Polkit Authentication Agent
Documentation=https://github.com/imvaskel/soteria
After=niri.service
BindsTo=niri.service

[Service]
Type=simple
ExecStart=/usr/bin/soteria
Restart=on-failure

[Install]
WantedBy=niri.service
